fastapi
uvicorn
scikit-learn
numpy
reportlab
python-multipart
pydantic
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
folium
requests
openai-whisper
boto3
supabase
cryptography
openpyxl==3.1.5
mangum
